doctype html
html
  head
    title Aurora Dance Academy
    block scripts
    block style
  body
    nav#navbar
        ul 
        div.logo
            img(src="/static/logo2.png", alt="Aurora Dance Studio")
            li #[a(href="/") Home ]
            li #[a(href="/") About Us ]
            li #[a(href="/contact") Contact Us ]
    
    block content
    block foot
      footer#footer 
        | Copyright @ 2022 AuroraDanceAcademy.com | All rights reserved